<ion-tabs>
  <ion-tab tab="home"> <!-- HIDDEN -->
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="salelist"> <!-- HIDDEN -->
    <ion-router-outlet name="salelist"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="alluser">
    <ion-router-outlet name="alluser"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="master">
    <ion-router-outlet name="master"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="notification">
    <ion-router-outlet name="notification"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="whatsapp">
    <ion-router-outlet name="whatsapp"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="calculation">
    <ion-router-outlet name="calculation"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="salelist" href="/tabs/full/(salelist:salelist)" (click)="navSalelist()">
      <!-- <ion-icon name="bonfire"></ion-icon> -->
      <span class="fal fa-2x fa-bags-shopping fa-fw"></span>
      <!-- <ion-label>Sale</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="alluser" href="/tabs/full/(alluser:alluser)" (click)="navAlluser()">
      <!-- <ion-icon name="logo-freebsd-devil"></ion-icon> -->
      <span class="fal fa-2x fa-head-side fa-fw"></span>
      <!-- <ion-label>Customers</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="master" href="/tabs/full/(master:master)" (click)="navMaster()">
      <!-- <ion-icon name="list-box"></ion-icon> -->
      <span class="fal fa-2x fa-crown fa-fw"></span>
      <!-- <ion-label>Price</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notification" href="/tabs/full/(notification:notification)" (click)="navNotification()">
      <!-- <ion-icon name="notifications"></ion-icon> -->
      <span class="fal fa-2x fa-concierge-bell fa-fw"></span>
      <!-- <ion-label>Notif</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="whatsapp" href="/tabs/full/(whatsapp:whatsapp)" (click)="navWhatsapp()">
      <!-- <ion-icon name="notifications"></ion-icon> -->
      <span class="fal fa-2x fa-comments-alt fa-fw"></span>
      <!-- <ion-label>Notif</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="calculation" href="/tabs/full/(calculation:calculation)" (click)="navCalculation()">
      <!-- <ion-icon name="notifications"></ion-icon> -->
      <span class="fal fa-2x fa-abacus fa-fw"></span>
      <!-- <ion-label>Notif</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
