<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Payment Confirmation by Employee</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="div-header">
		<label>
			<i class="far fa-receipt"></i> Card ID {{data.id}} - {{data.jobtitle}}
		</label>
	</div>
	<ion-grid>
		<ion-row>
			<ion-col [hidden]="ishidden">
				<table class="table item-detail" *ngIf="global.customeracc!=null">
					<thead>
					<tr class="header">
						<th colspan="2">
							Detail Bank
						</th>
					</tr>
					</thead>
					<tbody *ngIf="global.customeracc.salespayment.length>0">
					<tr>
						<td>Account No.</td>
						<td>{{global.customeracc.salespayment[0].customeracc.accno}}</td>
					</tr>
					<tr>
						<td>Bank Name</td>
						<td>{{global.customeracc.salespayment[0].customeracc.bank.bankname}}</td>
					</tr>
					<tr>
						<td>Name Account</td>
						<td>{{global.customeracc.salespayment[0].customeracc.accname}}</td>
					</tr>
					<tr>
						<td>Transfer Date</td>
						<td>{{global.customeracc.salespayment[0].paydate|date:'dd/MM/yyyy'}}</td>
					</tr>
					<tr>
						<td>Total Transfer</td>
						<td>{{(global.customeracc.salespayment[0].ammount|number:0)}}</td>
					</tr>
					<tr>
						<td>Mutation ID</td>
						<td>
							<ion-input type="text" class="input-conf" [(ngModel)]="customerbankmutationID"></ion-input>
						</td>
					</tr>
					<tr>
						<td>Note</td>
						<td>
							<ion-textarea autofocus="on" class="input-conf" [(ngModel)]="note"></ion-textarea>
						</td>
					</tr>
					</tbody>
					<tbody *ngIf="global.customeracc.salespayment.length==0">
					<tr>
						<td>Account No.</td>
						<td>
							<ion-select [(ngModel)]="accountno" (ionChange)="selectedaccount($event)">
								<ion-select-option *ngFor="let custbank of global.custbankaccs" value="{{custbank.id}} - {{custbank.accname}} - {{custbank.bank.bankname}}">{{custbank.accno}} - {{custbank.bank.alias}}</ion-select-option>
							</ion-select>
						</td>
					</tr>
					<tr>
						<td>Bank Name</td>
						<td>
							<ion-select [(ngModel)]="bank">
								<ion-select-option *ngFor="let bank of banklist" value="{{bank.id}}">{{bank.alias}}</ion-select-option>
							</ion-select>
						</td>
					</tr>
					<tr>
						<td>Name Account</td>
						<td>
							<ion-input type="text" class="input-conf" [(ngModel)]="accname"></ion-input>
						</td>
					</tr>
					<tr>
						<td>Transfer Date</td>
						<td>
							<ion-input (click)="showDatepicker()" [(ngModel)]="myDate" class="input-conf">
								<i class="far fa-calendar-alt"></i>
							</ion-input>
						</td>
					</tr>
					<tr>
						<td>Total Transfer</td>
						<td>
							<ion-input name="ammount" type="text" class="input-conf" [(ngModel)]="ammount"></ion-input>
						</td>
					</tr>
					<tr>
						<td>Mutation ID</td>
						<td>
							<ion-input type="text" class="input-conf" [(ngModel)]="customerbankmutationID"></ion-input>
						</td>
					</tr>
					<tr>
						<td>Note</td>
						<td>
							<ion-textarea autofocus="on" class="input-conf" [(ngModel)]="note"></ion-textarea>
						</td>
					</tr>
					</tbody>
				</table>
				<div>
					<button class="btn btn-conf" (click)="konfirmasipembayaran(global.customeracc)" *ngIf="!global.salespaymentverif">Konfirmasi Pembayaran</button>
				</div>
			</ion-col>
			<ion-col [hidden]="!ishidden">
				<table>
					<thead>
					<tr>
						<th>Daftar Transaksi Pending</th>
					</tr>
					</thead>
					<tbody>
					<td>
						<ion-checkbox color="primary" checked slot="start"></ion-checkbox>
					</td>
					<td></td>
					</tbody>
				</table>
			</ion-col>
			<ion-col>
				<div class="text-xs-center" *ngIf="global.curldownloading">
					<i class="fas fa-spinner fa-spin fa-5x"></i>
				</div>
				<ng-container *ngIf="!global.curldownloading && global.curls.length>0">
					<table id="detailtransaksibank" class="table item-detail">
						<thead>
						<tr class="header">
							<th colspan="3">
								Detail Transaksi Bank
							</th>
						</tr>
						</thead>
						<tbody>
						<tr (click)="selecteddetail(data)" *ngFor="let data of global.curls">
							<td>{{data.id}}</td>
							<td>{{data.mutationDate|date:'dd/MM/yyyy'}}</td>
							<td>{{data.mutationNote}}</td>
							<td>{{data.mutationAmmount|number:0}}</td>
						</tr>
						</tbody>
					</table>
				</ng-container>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
