.table{
	width: 100%;
	font-size: 12px;
	font-family: Google;
	font-weight: 100;
	border: 0;
	tbody{
		border-bottom: 10px solid #fafafa;
		tr{
			th, td{
				padding: 2px 4px;
			}
			&:not(.sub-header){
				td{
					padding-bottom: 0;
			    padding-top: 0;
			    color: #306;
				}
			}
			&.sub-header{
				td{
					padding-top: 10px;
			    padding-bottom: 0;
			    color: #666;
				}
			}
			&.header{
				td{
					color: #444;
					font-size: 16px;
				}
			}
		}
	}
}

.item-header{
	margin: 0 0 10px 0;
}

.item-detail.table{
	.header{
		background-color: #eee;
		padding: 5px;
		td{
			padding-top: 10px !important;
			padding-bottom: 10px !important;
		}
	}
}