// http://ionicframework.com/docs/theming/








.line-11{ line-height: 1.1; }
.line-10{ line-height: 1.0; }
.line-09{ line-height: 0.9; }
.line-08{ line-height: 0.8; }

ion-content{
	margin: 0 5px;
}




.text-bold { font-weight: bold; }
.size-8 { font-size: 8px; }
.size-10 { font-size: 10px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-20 { font-size: 20px; }
.size-22 { font-size: 22px; }
.size-24 { font-size: 24px; }
.size-28 { font-size: 28px; }
.size-32 { font-size: 32px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }

.text-xs-right{ text-align: right; }
.text-xs-center{ text-align: center; }
.text-xs-left{ text-align: left; }
.pull-xs-right{ float: right; }
.pull-xs-left{ float: left; }
.width-min{ width: 1% !important; }





.fab-fixed { 
	position: fixed; 
	bottom: 10px; 
	right: 10px; 
}

ion-header{
	ion-toolbar{
		border-bottom: 2px solid #ddd;
		--min-height: 45px;
		ion-title{
			font-size: 18px;
			.logo-img{
				padding-top: 2px;
				display: inline-block;
			}
			.logo{
				padding: 0 5px;
		    font-family: Google;
		    display: inline-block;
		    top: 4px;
		    position: absolute;
		    font-size: 20px;
		    font-weight: bold;
			}
		}
	}
}


ion-content { 
	--padding-start: 0 !important; 
	--padding-end: 0 !important; 
}

.header-md:after{
	background-image: none;
}

.content-title{
	font-family: Google;
	font-size: 30px;
	font-weight: 100;
	color: #999;
	padding: 0 10px;
	line-height: 1;
	.content-subtitle{
		font-size: 12px;
		padding: 0 2px;
	}
}


@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
