<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>
			All Pending Carts
		</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="text-xs-center" *ngIf="global.cartsdownloading">
		<i class="fas fa-spinner fa-spin fa-5x"></i>
	</div>
	<ng-container *ngIf="global.carts!=null">
		<div class="text-xs-center" *ngIf="global.carts.length == 0">
			No Pending Cart
		</div>
		<ng-container *ngIf="!global.cartsdownloading && global.carts.length > 0">
			<div class="content-title">
				Cart Header
				<div class="content-subtitle">
					Click a card to see details
				</div>
			</div>
			<div class="text-xs-right">
				<input type="text">
				<button class="btn">
					<i class="fal fa-search fa-fw"></i>
				</button>
			</div>
			<ul class="three-column">
				<ng-container *ngFor = 'let cartheader of global.carts'>
					<li (click)="toggleCartheader(cartheader)">
						<div class="header-id">
							<b>{{cartheader.id}}</b>

							<span class="pull-xs-right">
								<small>
									Rp
								</small> 
								<b>
									{{(cartheader.printprice+cartheader.deliveryprice-cartheader.discount)|number:0}}
								</b>
							</span>
						</div>
						<div class="content">
							<div class="pretitle">
								{{cartheader.customer.name}}
							</div>
							<div class="title">
								<div>
									{{cartheader.quantity|number:0}}
									{{cartheader.jobsubtype.name}} 
								</div>
								<div class="text-bold">
									{{cartheader.jobtitle}}
								</div>
								<div *ngIf="cartheader.cartfile != null">
									Total {{cartheader.cartfile.length}} files
								</div>
							</div>
							<div class="post-title">
								<span class="uppercase">
									{{cartheader.processtype}}
								</span>:
								<i class="fal fa-print fa-fw"></i> 
								{{cartheader.processtime}}d + 
								<i class="fal fa-truck-loading"></i>
								{{cartheader.deliverytime}}d
							</div>
						</div>
					</li>
				</ng-container>
			</ul>
		</ng-container>
	</ng-container>

	<button class="btn" (click)="haha()">
		haha
	</button>

</ion-content>
