<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <i class="far fa-child fa-fw"></i>
            Customer
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
	<div class="text-xs-center">
<!--		TODO: Indra kupret-->
		<div class="text-xs-center line-11" *ngIf="customererror==true" style="margin:30px 0;">
			No Customer Data Received<br>
			<small>
				<b>
					( ERROR ketika terima data )
				</b>
			</small>
		</div>
		
		
		<ion-list>
			<table class="table" *ngIf="customererror==false">
				<thead>
					<tr>
						<th>ID</th>
						<th>Customer</th>
						<th>Total Sales</th>
						<th></th>
					</tr>
				</thead>
				<tbody *ngFor="let customer of customers">
					<tr (click)="togglegroup(customer)" [ngClass]="{active: isgroupshown(customer)}">
						<td>
							{{customer.id}}.
						</td>
						<td>
							<b>
								<i class="fas fa-user" [ngClass]="{'tx-primary':customer.title=='Mr.', 'tx-lightmagenta':customer.title=='Mrs.' || customer.title=='Ms.'}"></i>
								{{customer.company.name}} - {{customer.name}}
							</b>
						</td>
						<td>
							{{customer.salesheader.length}} x belanja
						</td>
						<td>
							<div class="button-group">
								<a class="button"><i class="fal fa-address-book"></i></a>
								<a class="button"><i class="fal fa-map-marker-check"></i></a>
								<a class="button"><i class="fal fa-money-check-edit-alt"></i></a>
								<a class="button"><i class="fal fa-building"></i></a>
							</div>
						</td>
					</tr>
					<tr class="item-accordion" [hidden]="isgroupshown(customer)">
						<td></td>
					</tr>
				</tbody>
			</table>
			
			<div *ngFor="let group of groups">
				<ion-item (click)="togglegroup(group)" [ngClass]="{active: isgroupshown(group)}">
					Group {{group.name}}
				</ion-item>
				<ion-item class="item-accordion" [hidden]="isgroupshown(group)" *ngFor="let item of group.items">
					{{item}}
				</ion-item>
			</div>
		</ion-list>
	</div>
</ion-content>
